# RegEx

RegEx can be used to check if a string contains the specified search pattern

### Example
Search the string to see if it starts with "The" and ends with "Spain":

import re

txt = "The rain in Spain"
x = re.search("^The.*Spain$", txt)

In [ ]:
print(x)

<re.Match object; span=(0, 17), match='The rain in Spain'>

In [ ]:
if x:
    print("Yes it is available in String")
else:
    print("Not Present")

Yes it is available in String

## Find all the digits

In [ ]:
txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

### Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

In [ ]:
txt = "hello planet"
x = re.findall("he..o", txt)
print(x)

['hello']

# Starts With

In [ ]:
txt = "hello planet"
x = re.findall("^hello", txt)
if x:
  print("Yes, the string starts with 'hello'")
else:
  print("No match")

Yes, the string starts with 'hello'

## Ends With

In [ ]:
txt = "hello planet"
x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

## Zero or more occurrences

Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o"

In [ ]:
txt = "hello planet"
x = re.findall("he.*o", txt)
print(x)

['hello']

## One or more occurrences

Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":

In [ ]:
txt = "hello planet"
x = re.findall("he.+o",txt)
print(x)

['hello']

## Zero or one occurrences

Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

In [ ]:
txt = "hello planet"
x = re.findall("he.?o", txt)
print(x)

[]

## Exactly the specified number of occurrences

Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

In [ ]:
txt = "hello planet"
x = re.findall("he.{2}o", txt)
print(x)

['hello']

## Either or

Check if the string contains either "falls" or "stays":

In [ ]:
txt = "The rain in Spain falls mainly in the plain!"
x = re.findall("falls|stays", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['falls']
Yes, there is at least one match!

## Characters at the Begining

Check if the string starts with "The":

In [ ]:
txt = "The rain in Spain"
x = re.findall("\AThe",txt)
print(x)
if x:
    print("Yes, there is a match!")
else:
    print("No Match")

['The']
Yes, there is a match!

## Word at the Begining

Check if "ain" is present at the beginning of a WORD:

In [ ]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\brain", txt)

print(x)

if x:
  print("Yes, there is at least one match!",x)
else:
  print("No match")

['rain']
Yes, there is at least one match! ['rain']

## Word at the End

Check if "ain" is present at the end of a WORD:

In [ ]:
txt = "The rain in Spain"
x = re.findall(r"ain\b",txt)
print(x)
if x:
    print("Yes {}is present in this string".format(x))

['ain', 'ain']
Yes ['ain', 'ain']is present in this string

## NOT at the beginning of a word

Check if "ain" is present, but NOT at the beginning of a word:

In [ ]:
txt = "The rain in Spain"


x = re.findall("r\Bain",txt)
print(x)
if x:
    print("Yes there is at least one match")
else:
    print("NO Match")

['rain']
Yes there is at least one match

## NOT at the end of a word

Check if "ain" is present, but NOT at the end of a word:

In [ ]:
txt = "The rain in Spain"

x = re.findall(r"ain\B",txt)
print(x)
if x:
    print("Yes there is at least one match")
else:
    print("No Match")

[]
No Match

## Contains any digits (numbers from 0-9)

Check if the string contains any digits (numbers from 0-9):

In [ ]:
txt = "The1 rain in Spain0"
x = re.findall("\d", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['1', '0']
Yes, there is at least one match!

## Does Not Contains Digits

In [ ]:
txt = "The rain in Spain1111"
x = re.findall("\D", txt)
print(x)
if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', ' ', 'r', 'a', 'i', 'n', ' ', 'i', 'n', ' ', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

## Ends With

In [ ]:
message = 'Python is fun'

# check if the message ends with fun
print(message.endswith('fun'))

True

In [ ]:
string = 'android is awesome'
print(string.strip('an'))

droid is awesome

## Contains Characters

In [ ]:
import re

txt = "The rain in Spain"

#Check if the string has any a, r, or n characters:

x = re.findall("[0-9]", txt)
print(x)
if not x:
    print("Not Present")

[]
Not Present

## Contains Specified

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("[arn]",txt)
print(x)

['r', 'a', 'n', 'n', 'a', 'n']

## Alphabetically between a and n

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("[a-n]",txt)
print(x)

['h', 'e', 'a', 'i', 'n', 'i', 'n', 'a', 'i', 'n']

## EXCEPT a, r, and n

In [ ]:
import re

txt = "The rain in Spain"

x = re.findall('[^a-n]',txt)
print(x)

['T', ' ', 'r', ' ', ' ', 'S', 'p']

## String has any two-digit numbers

In [ ]:
import re

txt = "8 times before 11:45 AM"
x = re.findall("[0-5][0-9]",txt)
print(x)

['11', '45']

## Special Characters

In [ ]:
import re

txt = "8 times before 11:45 AM"

#Check if the string has any + characters:

x = re.findall("[+]", txt)

print(x)

[]

## Findall Function

In [ ]:
import re

txt = "The rain in Spain"
x = re.findall("Portugal", txt)
print(x)

[]

## Split

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt)
print(x)

['The', 'rain', 'in', 'Spain']

Split the string only at the first occurrence:

In [ ]:
import re

txt = "The rain in Spain"
x = re.split("\s", txt, 1)
print(x)

['The', 'rain in Spain']

## sub() Function
The sub() function replaces the matches with the text of your choice

In [ ]:
import re

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

## Span()

Print the position (start- and end-position) of the first match occurrence.

The regular expression looks for any words that starts with an upper case "S":

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.span())

(12, 17)

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.string)

The rain in Spain

In [ ]:
import re

txt = "The rain in Spain"
x = re.search(r"\bS\w+", txt)
print(x.group())

Spain